@import "tailwindcss";
@import "natmfat/styles/core.css";
@config "natmfat/integrations/tailwind.config";

/*
hide scroll bars
https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
*/
* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}

*::-webkit-scrollbar {
  display: none; /* Older Safari and Chromium */
}

.tiptap {
  outline: none;
  border: none;
  font-family: var(--font-family-default);
  height: 100%;

  :first-child {
    margin-top: 0;
  }

  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  ul ul,
  ol ul {
    list-style-type: circle;
    margin-left: 15px;
  }
  ol ol,
  ul ol {
    list-style-type: lower-latin;
    margin-left: 15px;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--font-weight-medium);
    line-height: 1.1;
    text-wrap: pretty;
  }

  /* Text size variants */
  p,
  h5,
  h6 {
    line-height: var(--line-height-default);
    font-size: var(--font-size-default);
    margin-top: var(--space-4);
  }

  h1 {
    line-height: var(--line-height-header-big);
    font-size: var(--font-size-header-big);
    font-weight: var(--font-weight-medium);
    margin-top: var(--space-24);
  }

  h2 {
    line-height: var(--line-height-header-default);
    font-size: var(--font-size-header-default);
    font-weight: var(--font-weight-medium);
    margin-top: var(--space-24);
  }

  h3 {
    line-height: var(--line-height-subhead-big);
    font-size: var(--font-size-subhead-big);
    font-weight: var(--font-weight-medium);
    margin-top: var(--space-16);
  }

  h4 {
    line-height: var(--line-height-subhead-default);
    font-size: var(--font-size-subhead-default);
    font-weight: var(--font-weight-medium);
    margin-top: var(--space-8);
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--primary-default);
    border-radius: var(--border-radius-default);
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: var(--border-radius-default);
    color: var(--white);
    font-family: var(--font-family-code);
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 2px solid var(--primary-dimmer);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--outline-dimmest);
    margin: 2rem 0;
  }
}
